.dropdown-menu {
  /* background: red; */
  width: 200px;
  position: absolute;
  top: 80px;
  /* left: 80px; */
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: #0a588a;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px;
  align-self: center;
}

.dropdown-menu li:hover {
  background: #5bacdf;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 12px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
